html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.coluna {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-dark {
  background-color: #212529;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand i {
  margin-right: 0.5rem;
}

.hero-section {
  min-height: 100vh; /* Ocupa toda la altura de la ventana gráfica */
  background-color: #181a1d; /* Color de fondo claro para visibilidad */
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

.hero-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  font-size: 5vw;
  line-height: 1.2;
}

.lucas {
  color: rgb(194, 10, 10);
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-height: 70%; /* Asegura que la imagen no exceda la altura de la sección */
  width: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Hace que la imagen sea redonda */
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 576px) {
  .hero-text {
    font-size: 8vw;
    text-align: center; /* Asegura que el texto esté centrado en pantallas pequeñas */
  }

  .hero-image img {
    max-height: 70%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.project-card {
  background-color: #ffffff; /* Color de fondo blanco */
  border-left: 5px solid #007bff; /* Borde izquierdo colorido */
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  background-color: #f8f9fa; /* Cambio de color de fondo al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

.project-title {
  font-family: 'Roboto', sans-serif; /* Nueva tipografía */
  font-size: 1.5rem; /* Tamaño de fuente adecuado */
  color: #343a40; /* Color del título */
  white-space: nowrap; /* Evitar que el texto se rompa en varias líneas */
  overflow: hidden; /* Ocultar texto desbordante */
  text-overflow: ellipsis; /* Añadir puntos suspensivos al final del texto desbordante */
}

.project-card p {
  color: #6c757d; /* Color del texto */
}

/* Habilidades */

#habilidades .foto .nome {
  color: #545454;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
}

#habilidades .info .titulo {
  color: #005385;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 30px;
}

#habilidades .lead {
  letter-spacing: 1px;
  color: #6c757d; /* Color más claro para consistencia */
}

#habilidades .info .label {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #005385;
  margin-bottom: 10px;
}

#habilidades .info .progress {
  background: #005385;
  border-radius: 0;
  height: 25px;
}

#habilidades .info .progress .progress-bar {
  background: #3da5e2;
  line-height: 25px;
  padding-left: 20px;
}

.custom-img {
  max-width: 200px; /* Ajusta el tamaño máximo de la imagen */
}

/* Contato */
#contato {
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}

#contato .display-4 {
  margin: 40px;
  text-align: center;
}

#contato .formulario input[type='text'],
#contato .formulario input[type='email'],
#contato .formulario textarea {
  padding: 15px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

#contato .formulario textarea {
  height: 150px;
  min-height: 150px;
  max-height: 250px;
}

#contato .formulario .boton {
  background: #3da5e2;
  border: none;
  padding: 7px 30px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  width: auto;
  border-radius: 3px;
}

#contato .formulario .boton:hover {
  background: #1ba0ef;
}

/* Footer */
.footer {
  background-color: #212529;
  color: #ffffff;
}

.footer .text-muted {
  color: #6c757d !important;
}

.footer .social-icons i {
  font-size: 1.5rem;
}

.footer .social-icons a:hover {
  color: #ffffff;
}

.footer .social-icons a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
}

.footer .social-icons i::before {
  display: inline-block;
  vertical-align: middle;
}
